<div v-if="showLoader" class="imjoy-loader" v-show="loading"></div>
<div v-if="showProgressBar" class="imjoy-progress-border" v-show="progress">
  <div :style="{width: progress+'%'}"></div>
</div>
<div
  v-show="snackBarContent"
  :class="{'show-snackbar': snackBarContent}"
  class="imjoy-snackbar"
>
  {{snackBarContent}}
</div>
<modal
  name="window-modal-dialog"
  height="500px"
  style="max-height: 100%; max-width: 100%"
  :fullscreen="fullscreen"
  :resizable="true"
  draggable=".imjoy-drag-handle"
  :scrollable="true"
>
  <div
    v-if="selectedDialogWindow"
    @dblclick="maximizeWindow()"
    class="imjoy-drag-handle imjoy-window-title-bar"
  >
    <span class="imjoy-noselect imjoy-window-title"
      >{{ selectedDialogWindow.name}}</span
    >
    <button
      @click="closeWindow(selectedDialogWindow)"
      class="imjoy-noselect imjoy-dialog-control"
      style="background:#ff0000c4;left:1px;"
    >
      x
    </button>
    <button
      @click="minimizeWindow()"
      class="imjoy-noselect imjoy-dialog-control"
      style="background:#00cdff61;left:28px;"
    >
      -
    </button>
    <button
      @click="maximizeWindow()"
      class="imjoy-noselect imjoy-dialog-control"
      style="background:#00cdff61;left:55px;"
    >
      {{fullscreen?'=': '+'}}
    </button>
  </div>
  <template v-for="wdialog in dialogWindows">
    <div
      :key="wdialog.window_id"
      v-show="wdialog === selectedDialogWindow"
      style="height: calc(100% - 18px);"
    >
      <div :id="wdialog.window_id" style="width: 100%;height: 100%;"></div>
    </div>
  </template>
</modal>
