<div class="imjoy-dropdown" :style="menuStyle">
  <a class="imjoy-dropdown-btn"
    ><img
      style="width:24px;"
      src="https://imjoy.io/static/img/imjoy-icon.svg"
    />
  </a>
  <div
    class="imjoy-dropdown-content"
    v-if="showContent"
    @click="menuClicked"
    :style="{left: menuPos==='left'? 0: null}"
  >
    <a
      href="#"
      v-for="item in extraMenuItems"
      :key="item.label"
      @click.prevent="item.callback()"
      >{{item.label}}</a
    >
    <hr
      style="margin: 0;border-style: solid;color: rgb(157 205 255 / 45%);"
      v-show="extraMenuItems.length>0 && loadedPlugins.length>0"
    />
    <a
      href="#"
      v-for="p in loadedPlugins"
      :key="p.id"
      @click.prevent="p.api.run()"
      >🧩 {{p.name}}</a
    >
    <hr
      style="margin: 0;border-style: solid;color: rgb(157 205 255 / 45%);"
      v-show="allWindows.length>0 && loadedPlugins.length>0"
    />
    <a href="#" v-if="showAboutImJoy" @click.prevent="showAboutImJoy()"
      >ℹ️ About ImJoy</a
    >
    <hr
      style="margin: 0;border-style: solid;color: rgb(157 205 255 / 45%);"
      v-show="allWindows.length>0 && loadedPlugins.length>0"
    />
    <a
      href="#"
      v-for="w in allWindows"
      :style="{'background-color': activeWindow===w?'#adcafb78':'', 'font-weight': activeWindow===w? 600:300}"
      :key="w.id"
      @click.prevent="w.api.show()"
      >🔳 {{w.name}}</a
    >
    <a
      href="#"
      v-if="activeWindow && closeWindow"
      @click.prevent="closeWindow(activeWindow)"
      >❌ Close Window</a
    >
  </div>
</div>
